<!-- Pagination -->
{% assign pagesInLineValue = settings['ASP/Pagination/PagesInLine'] %}
{% assign pagesInLine = pagesInLineValue | times: 1.0 %}

{% if pages > 1 %}
    {% assign limit = pagesInLine %}      
    {% assign first_page = 1 %}
    {% assign last_page = pages %}
    
    {% assign start_page = 0 %}
    {% assign offset = limit | divided_by: 2 %}
    {% assign page_offset = current_page | minus: 1 %}
    {% if page_offset > offset %}
      {% assign start_page = current_page | minus: offset | minus: 1 %}
    {% endif %}

    {% assign page_slice_first_page = page_offset | plus:1 %}
    {% assign page_slice_last_page = page_offset | plus: limit %}
    <div>
      <ul class="pagination" >
        <li {% unless first_page and page > 1 %}class="disabled"{% endunless %}>
          <a
            {% if first_page and page > 1 %}
              href="{{ request.url | add_query:'page', first_page | path_and_query  | h }}"
            {% endif %}>
            «
          </a>
        </li>

        <li {% unless previousPage > 0 %}class="disabled"{% endunless %}>
          <a
            {% if previousPage != 0 %}
              href="{{ request.url | add_query:'page', previousPage | path_and_query  | h }}"
            {% endif %}>
            ‹
          </a>
        </li>

        {% if page_slice_first_page > 1 %}
          {% assign previous_slice_last_page = page_slice_first_page | minus:1 %}
          <li>
            <a href="{{ request.url | add_query:'page', previous_slice_last_page | path_and_query  | h }}">
              …
            </a>
          </li>
        {% endif %}

        {% for pageLine in (1...pages) offset:page_offset limit:limit -%}
          <li{% if pageLine == page %} class="active"{% endif %}>
            <a href="{{ request.url | add_query:'page', pageLine | path_and_query  | h }}">
             {{ pageLine }}
            </a>
          </li>
        {% endfor -%}

        {% if page_slice_last_page < pages %}
          {% assign next_slice_first_page = page_slice_last_page | plus:1 %}
          <li>
            <a href="{{ request.url | add_query:'page', next_slice_first_page | path_and_query  | h }}">
              …
            </a>
          </li>
        {% endif %}

        <li {% unless last_page and page < last_page %}class="disabled"{% endunless %}>
          <a
            {% if last_page and page < last_page %}
              href="{{ request.url | add_query:'page', nextPage | path_and_query  | h }}"
            {% endif %}>
            ›
          </a>
        </li>

        <li {% unless last_page and page < last_page %}class="disabled"{% endunless %}>
          <a
            {% if last_page and page < last_page %}
              href="{{ request.url | add_query:'page', last_page | path_and_query  | h }}"
            {% endif %}>
            »
          </a>
        </li>
      </ul>
    </div>
{% endif %}
<!-- END Pagination -->