{% include 'Portal Web API Wrapper' %}
<div data-ppid="68f6600c-05d4-43ac-67d6-6d7086bf6691" class="row sectionBlockLayout" style="display: flex; flex-wrap: wrap; padding: 8px; margin: 0px;">
  <div id="course-catalog" data-ppid="79cf9c0e-243d-24af-d0fa-743a9d7ebc64" class="container">
    <div id="header" class="col-md-12">
      <h2 data-ppid="e86f7ee1-9e14-3365-e8d1-47f1b0e04e77">After school events</h2>
      <p data-ppid="ff0214d2-7d82-3b54-5d67-a1a622579815" class="home-header-subtitle">Browse all the events for 2022-2023</p>
    </div>
    <div data-ppid="1771db28-c377-66f9-f3d2-775d15502769" class="catalog-cards col-md-12 columnBlockLayout nopadding" style="flex-grow: 1; display: flex; flex-direction: column; min-width: 250px; word-break: break-word;">
      <div class="col-md-12">{% include 'Dropdown Filters' %}</div>
      {% include 'Course Catalog' %}
    </div>
  </div>
</div>
