<div class="card view-course-container">
  <div class="row" id="course-card">
    <div class="col-md-6" id="course-content-left">
      <div class="card-body">
        <h2 id="course-header-lg" class="card-text-large">{{course.msdynce_coursename | default: 'Title'}}</h2>
        <img class="image-view" src="/card-placeholder.svg" alt="{{course.msdynce_coursename | default: 'Title'}} photo">
        <p id="course-header-sm" class="card-text-large">{{course.msdynce_coursename | default: 'Title'}}</p>
        <div id="days-container-sm">
          <div class="course-days">
            {{dayvalues}}
          </div>
        </div>
        <div id="general-info-sm">
          <h2 class="card-text-large">
            <span class="time">{{ course.msdynce_coursestartdateandtime | date_to_iso8601 | default: '00:00 am' }}</span> to <span class="time">{{ course.msdynce_courseenddateandtime | date_to_iso8601 | default: '00:00 am'}}</span>
          </h2>
          <p class="card-text-medium no-margin">
            <span class="date">{{ course.msdynce_coursestartdateandtime | date_to_iso8601 | default: 'January 1'}}</span> - <span class="date">{{ course.msdynce_courseenddateandtime | date_to_iso8601 | default: 'January 1'}}</span>
          </p>
          <p class="card-text-xsmall">Instructor: {{ course.msdynce_instructor | default: 'Pending' }}</p>
        </div>
        <div id="other-info-lg">
          <p class="card-text" id="description">{{course.msdynce_coursedescription | default: 'Description'}}</p>
          <p class="card-text-small">Grades</p>
          <div class="card-bottom">
            <div class="course-grades">
              {{gradeValues}}
            </div>
            <div class="course-formats">
              {{typeValues}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" id="course-content-right">
      <div class="card-body">
        <div id="days-container-lg">
          <div class="course-days">
            {{dayvalues}}
          </div>
        </div>
        <div id="general-info-lg">
          <h2 class="card-text-large">
            <span class="time">{{ course.msdynce_coursestartdateandtime | date_to_iso8601 | default: '00:00 am' }}</span> to <span class="time">{{ course.msdynce_courseenddateandtime | date_to_iso8601 | default: '00:00 am'}}</span>
          </h2>
          <p class="card-text-medium no-margin">
            <span class="date">{{ course.msdynce_coursestartdateandtime | date_to_iso8601 | default: 'January 1' }}</span> - <span class="date">{{ course.msdynce_courseenddateandtime | date_to_iso8601 | default: 'January 1'}}</span>
          </p>
          <p class="card-text-xsmall">Instructor: {{ course.msdynce_instructor | default: 'Pending' }}</p>
        </div>
        <p class="card-text-small">Attendees</p>

        {% if user.roles contains 'C1 ASP' or user == False %}
        <div class="child-selection-container">
          <!--Add attendee button-->
          <span class="child-selection-card">
                  <label class="checkbox-container">
                  <button type="button" class="btn-add disabled">
                      <img src="/plus-sign.svg" alt="Add attendee icon">
                  </button>
        <p class="card-text-xsmall text-center"> Add attendee</p>
        </label>
        </span>
      </div>
      <p id="add-desc" class="card-text-xxsmall"><img src="/validation-icon.svg" style="width: 15px; margin: 0px 5px 3px 0px;" alt="validation alert icon">
        To add an attendee and register, please <a href="/SignIn{{returnUrl}}">sign in</a> or <a href="/Account/Login/Register{{returnUrl}}">sign up</a></p>
      {% else %}
      <div class="child-selection-container">
        {% if user %}
        {% if registeredArray contains user.contactid %}
        <ol class="attendee-ol">
        <li>
        <span class="child-selection-card">
          <label class="checkbox-container">
            <img class="disabled" id="img{{user.contactid}}" data-contact="{{user.contactid}}" src="/child-placeholder.svg" alt="user profile photo">
            <p class="card-text-xsmall text-center no-margin"> Me/Myself</p>
            <p class="card-text-xxsmall text-center disabled">Registered</p>
          </label>
        </span>
        </li>
        {% else %}
        <ol class="attendee-ol">
        <li>
        <span class="child-selection-card">
          <label class="checkbox-container">
            <input type="checkbox" id="user" name="child" value="{{user.contactid}}">
            <span class="checkmark"></span>
            <label for="user"></label>
            <img id="img{{user.contactid}}" data-contact="{{user.contactid}}" src="/child-placeholder.svg" alt="user profile photo">
            <p class="card-text-xsmall text-center no-margin"> Me/Myself</p>
          </label>
        </span>
        </li>
        {% endif %}
        {% endif %}
        
        {% if attendees.results and attendees.results.entities %}
        {% for attendee in attendees.results.entities %}
        {% if registeredArray contains attendee.contactid %}
        <li>
                <span class="child-selection-card">
            <label class="checkbox-container">
                <img class="disabled" id="img{{attendee.contactid}}" data-contact="{{attendee.contactid}}" src="/child-placeholder.svg" alt="{{attendee.fullname}} profie photo">
                <p class="card-text-xsmall text-center no-margin">{{attendee.fullname}}</p>
                <p class="card-text-xxsmall text-center disabled">Registered</p>
            </label>
        </span>
        </li>
        {% else %}
        <li><span class="child-selection-card">
        
                    <label class="checkbox-container">
              <input type="checkbox" id="child{{forloop.index}}" name="child" value="{{attendee.contactid}}">
                <span class="checkmark"></span>
                <label for="child{{forloop.index}}"></label>
                <img id="img{{attendee.contactid}}" data-contact="{{attendee.contactid}}" src="/child-placeholder.svg" alt="{{attendee.fullname}} profile photo">
                <p class="card-text-xsmall no-margin">{{attendee.fullname}}</p>
            </label>
        </span></li>
        {% endif %}
        {% endfor %}
        {% endif %}
        <!--Add attendee button-->
        <li>
        <span class="child-selection-card">
          {% if user.roles contains 'C1 ASP' or user == False %}
          <label class="checkbox-container">
          <div class="btn-add disabled" role="button"><span><img src="/plus-sign.svg" alt="Add attendee icon"></span>
          </div>
          <p class="card-text-xsmall text-center"> Add attendee</p>
          </label>
          {% else user %}
          <label class="checkbox-container">
          <button type="button" class="btn-add" data-toggle="modal" data-target="#addAttendeeModal1">
            <img src="/plus-sign.svg" alt="Add attendee icon">
          </button>
          <p class="card-text-xsmall text-center"> Add attendee</p>
          </label>
          {% endif %}
        </span>
        </li>
        </ol>
      </div>
    <p id="add-desc" class="card-text-xxsmall"><img src="/validation-icon.svg" style="width: 15px; margin: 0px 5px 3px 0px;" alt="validation alert icon">
      To add (or edit) another attendee, go to: <a href="{{ sitemarkers['Attendee Information'].url }}">Attendees information</a></p>
    {% endif %}
    <div id="other-info-sm">
      <p class="card-text" id="description">{{course.msdynce_coursedescription | default: 'Description'}}</p>
      <p class="card-text-small">Grades</p>
      <div class="">
        <div class="course-grades">
          {{gradeValues}}
        </div>
        <div class="course-formats">
          {{typeValues}}
        </div>
      </div>
    </div>
    <div class="card-bottom">
      <div class="bottom-left">
        <p style="margin-bottom:0;" class="card-text-small">{{ course.msdynce_registerationmaxcapacity | minus: registered | default: '0'}} spots / {{ course.msdynce_registerationmaxcapacity | default: '0' }} </p>
        <p class="card-text-xxsmall">Registration deadline: <span class="date">{{ course.msdynce_registerationdeadline | date_to_iso8601 }}</span></p>
      </div>
      <div class="bottom-right">
        {% if user %}
        <button class="btn btn-primary" id="registerBtn">Register</button>
        {% else %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#signInPopup">Register</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
</div>