div#dateTimeType {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
div#other-info-lg
{
    padding-left:5px;
}
div#other-info-sm
{
padding-left:5px;
}
#dateTimeType .col-sm-7
{
    padding:0px;
}
.page-title
{
    text-align:center;
}