{% include 'Portal Web API Wrapper' %}
<div class="row sectionBlockLayout" style="display: flex; flex-wrap: wrap; padding: 8px; margin: 0px; text-align: left; min-height: 40px;">
  <div class="container" style="display: flex; flex-wrap: wrap;">
    <div class="col-md-12 columnBlockLayout back-container" style="flex-grow: 1; min-width: 300px; display: flex; flex-direction: column;">
      <a href="/admin-home"><img src="/back-arrow.svg" alt="back arrow" class="back-arrow" style="max-width: 100%;"><span>Back to my courses</span></a>
      {% include 'RegistrationSuccessForm' %}
    </div>
  </div>
</div>