{% if request.params['id'] | xml_escape and  request.IsPreview != true %}
{% assign courseid = request.params['id'] | xml_escape %}
{% fetchxml courseselected %}
<fetch>
  <entity name="msdynce_course">
    <attribute name="msdynce_registeredparticipants" />
    <attribute name="msdynce_coursename" />
    <attribute name="msdynce_registerationmaxcapacity" />
    <attribute name="msdynce_instructor" />
    <attribute name="msdynce_courseenddateandtime" />
    <attribute name="msdynce_registerationdeadline" />
    <attribute name="msdynce_coursestartdateandtime" />
    <attribute name="msdynce_coursedescription" />
    <attribute name="msdynce_course_id" />
    <attribute name="msdynce_coursegradelevel"/>
    <attribute name="msdynce_coursedays"/>    
    <attribute name="msdynce_coursetype"/>    
    <filter>
      <condition attribute="msdynce_courseid" operator="eq" value="{{courseid}}" />
    </filter>
  </entity>
</fetch>
{% endfetchxml %}

{% unless user.roles contains 'C1 ASP' %}
{% fetchxml attendees %}
<fetch>
    <entity name="contact">
        <attribute name="fullname"/>
        <attribute name="contactid"/>
        <attribute name="entityimage"/>
        <order descending="false" attribute="fullname"/>
        <filter type="and">
            <condition attribute="parentcustomerid" value="{{user.contactid}}" operator="eq"/>
            <condition attribute="statecode" value="0" operator="eq"/>
        </filter>
    </entity>
</fetch>
{% endfetchxml %}

{% fetchxml registrations %}
<fetch distinct="true">
    <entity name="msdynce_registration">
        <attribute name="msdynce_registrationid"/>
        <attribute name="msdynce_name"/>
        <attribute name="msdynce_attendeename"/>
        <order descending="false" attribute="msdynce_name"/>
        <filter type="and">
            <condition attribute="msdynce_courseid" value="{{courseid}}" operator="eq"/>
            <condition attribute="msdynce_parent" value="{{user.contactid}}" operator="eq"/>
            <condition attribute="statecode" value="0" operator="eq"/>
        </filter>
    </entity>
</fetch>
{% endfetchxml %}

{% if registrations.results and registrations.results.entities and registrations.results.entities.size > 0 %}
{% assign registeredString = '' %}
{% for reg in registrations.results.entities %}
{% assign registeredString = registeredString | append: reg.msdynce_attendeename.id | append: ',' %}
{% endfor %}
{% assign registeredArray = registeredString | split: ',' %}
{% endif %}

{% endunless %}
{% else %}
<script>
  window.location.href = "{{ sitemarkers['C1 Home'].url }}"
</script>
{% endif %}

{% if courseselected.results and courseselected.results.entities %}
{% assign course = courseselected.results.entities[0] %}

{% assign returnUrl = '?returnUrl=' | append: sitemarkers['View Course Details'].url | append: '?id=' | append: course.msdynce_courseid %}

{% if course.msdynce_registeredparticipants %}
  {% assign registered = course.msdynce_registeredparticipants %}
  {% else %}
  {% assign registered = 0 %}
{% endif %}

<!-- Course Days -->
{% assign dayvalues = '' %}

{% if request.IsPreview != true %}
    {% if course.msdynce_coursedays %}
    {% for day in course.msdynce_coursedays %}
        {% assign dayvalues = dayvalues | append:'<p>'| append:day.label| append:'</p>' %}
    {% endfor %}
    {% endif %}  
{% endif %}
<!-- END - Course Days -->

<!-- Course Grades -->
{% assign gradeValues = '' %}

{% if request.IsPreview != true %}
    {% if course.msdynce_coursegradelevel %}
    {% for grade in course.msdynce_coursegradelevel %}
        {% assign gradeValues = gradeValues | append:'<p>'| append:grade.label| append:'</p>' %}
    {% endfor %}
    {% endif %}  
{% endif %}
<!-- END - Course Grades -->

<!-- Course Types -->
{% assign typeValues = '' %}

{% if request.IsPreview != true %}
    {% if course.msdynce_coursetype %}
    {% for type in course.msdynce_coursetype %}
        {% if forloop.index == 2 %}
        {% assign typeValues = typeValues | append:'<span class="separator"> | </span>' %} 
        {% endif %}
        {% if type.value == 441790000 %}
        {% assign typeValues = typeValues | append: '<img src="/format-icon.svg" alt="in-person icon">' | append:'<span>'| append:type.label| append:'</span>' %}  
        {% else %}
        {% assign typeValues = typeValues | append: '<img src="/virtual.svg" alt="Virtual course icon">' | append:'<span>'| append:type.label| append:'</span>' %}  
        {% endif %}
    {% endfor %}
    {% endif %}  
{% endif %}
<!-- END - Course Types -->

{% endif %}

{% editable snippets 'Card/Details' type: 'html' %}

{% unless user %}
<!-- START MODAL -->
{% editable snippets 'Modal/Sign In' type: 'html' %}
<!-- END MODAL -->
{% endunless %}