<div class="card view-course-container">
  <div class="row" id="course-card">
    <div class="col-md-6" id="course-content-left">
      <div class="card-body">
        <div id="days-container-lg">
          <div class="course-days">
            {{dayvalues}}
          </div>
        </div>
        <div id="days-container-sm">
          <div class="course-days">
            {{dayvalues}}
          </div>
        </div>
        <h2 id="course-header-lg" class="card-text-large">{{course.msdynce_coursename | default: 'Title'}}</h2>
        <h2 id="course-header-sm" class="card-text-large">{{course.msdynce_coursename | default: 'Title'}}</h2>
        <div id="general-info-lg">
          <div id="dateTimeType">
            <div class="col-sm-7" style="border-right: 1px solid #DAECED;">
              <p class="card-text-medium">
                <span class="time">{{ course.msdynce_coursestartdateandtime | date_to_iso8601 | default: '00:00 am' }}</span> to <span class="time">{{ course.msdynce_courseenddateandtime | date_to_iso8601 | default: '00:00 am'}}</span>
              </p>
              <p class="card-text-xsmall no-margin">
                <span class="date">{{ course.msdynce_coursestartdateandtime | date_to_iso8601 | default: 'January 1' }}</span> - <span class="date">{{ course.msdynce_courseenddateandtime | date_to_iso8601 | default: 'January 1'}}</span>
              </p>
            </div>
            <div id="other-info-lg">
              <div class="card-bottom">
                <div class="course-formats">
                  {{typeValues}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="general-info-sm">
          <div id="dateTimeType">
            <div class="col-sm-7" style="border-right: 1px solid #DAECED;">
              <p class="card-text-large">
                <span class="time">{{ course.msdynce_coursestartdateandtime | date_to_iso8601 | default: '00:00 am' }}</span> to <span class="time">{{ course.msdynce_courseenddateandtime | date_to_iso8601 | default: '00:00 am'}}</span>
              </p>
              <p class="card-text-medium no-margin">
                <span class="date">{{ course.msdynce_coursestartdateandtime | date_to_iso8601 | default: 'January 1'}}</span> - <span class="date">{{ course.msdynce_courseenddateandtime | date_to_iso8601 | default: 'January 1'}}</span>
              </p>
            </div>
            <div id="other-info-sm">
              <div class="">
                <div class="course-formats">
                  {{typeValues}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="card-text-small">Attendees</p>
        <div class="child-selection-container">
          {% if registeredArray contains user.contactid %}
          <span class="child-selection-card">
                   <label class="checkbox-container">
                      <img class="disabled" id="img{{user.contactid}}" data-contact="{{user.contactid}}" src="/child-placeholder.svg" alt="user profile photo">
                     <p class="card-text-xsmall text-center no-margin"> Me/Myself</p>
                    </label>
                 </span>
          {% endif %}
          {% if attendees.results and attendees.results.entities %}
          {% for attendee in attendees.results.entities %}
          {% if registrations.results and registrations.results.entities %}
          {% for reg in registrations.results.entities %}
          {% if reg.msdynce_attendeename.id == attendee.contactid %}
          <span class="child-selection-card">
                       <label class="checkbox-container">
                         <img class="contactimg" id="childImgchild{{forloop.index}}" src="/child-placeholder.svg" alt="{{attendee.fullname}} profile photo">
                         <p class="card-text-xsmall text-center no-margin">{{attendee.fullname}}</p>
                       </label>
                      </span>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
        <div class="card-bottom">
          <div class="bottom-left">
            <button class="button1" onclick="window.location.href='/my-registrations'">View in my registrations</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" id="course-content-right">
      <div class="card-body">
        <img class="image-view" src="/card-placeholder.svg" alt="{{course.msdynce_coursename | default: 'Title'}} photo">
      </div>
    </div>
  </div>
</div>