{% include 'C1HomeLiquidTemplate' %}
<div data-ppid="e6223023-47fa-76e7-a6ac-952dcba013fc" class="row sectionBlockLayout" style="display: flex; flex-wrap: wrap; padding: 8px; margin: 0px; text-align: left; min-height: 100px;">
  <div data-ppid="8006b9b6-bede-1b6c-0d4d-f5820ebadf28" class="container" style="display: flex; flex-wrap: wrap;">
    <div data-ppid="f556a18a-e020-eb4a-8e1a-1275a9e413f3" class="col-md-12 columnBlockLayout" style="word-break: break-word; flex-grow: 1; min-width: 300px; display: flex; flex-direction: column;">
      <h2 data-ppid="6006543f-68c0-251b-7d80-177d40e65dd2">My courses</h2>
      {% include 'entity_list' key: 'Upcoming Courses' %}
    </div>
  </div>
</div>
