<!-- Get instructors -->
{% fetchxml role %}
<fetch>
  <entity name="adx_webrole" >
    <attribute name="adx_webroleid" />
    <filter>
      <condition attribute="adx_name" operator="eq" value="C1 ASP" />
    </filter>
  </entity>
</fetch>
{% endfetchxml %}
{% fetchxml instructors %}
<fetch>
    <entity name="contact">
        <attribute name="fullname" />
        <attribute name="contactid" />
        <filter>
            <condition entityname="adx_webrole_contact" attribute="adx_webroleid" operator="eq"
                value="{{role.results.entities[0].adx_webroleid}}" />
        </filter>
        <link-entity name="adx_webrole_contact" from="contactid" to="contactid" link-type="inner" intersect="true"
            visible="true" />
    </entity>
</fetch>
{% endfetchxml %}

<script>
//Save the instructors in an array to use on the webpage's JS
var instructorsArr = [];
{% if instructors.results.entities %}
{%for instructor in instructors.results.entities %}
 instructorsArr.push({id: "{{instructor.contactid}}", name: "{{instructor.fullname}}"});
{% endfor %}
{% endif %}

var documentbodyContents;
var selectedDays = [];
var isRecurrent = false;

//File upload function called by the PCF
window.uploadImagePCF = function (name, memetype, body) {
    courseImageType = memetype;
    courseImageName = name;
    documentbodyContents = body.substring(body.indexOf(',') + 1);           
}



$(function () {
    const oob_instructor = $("#msdynce_instructorname");
    const oob_deadline = $("#msdynce_registerationdeadline");
    const oob_startdatetime = $("#msdynce_coursestartdateandtime_datepicker_description");
    const oob_enddatetime = $("#msdynce_courseenddateandtime_datepicker_description");
    const oob_frequency = $("#msdynce_frequency");
    const oob_days = $("#msdynce_coursedays_Container");
    const oob_createBtn = $("#InsertButton");
    const oob_description = $("#msdynce_coursedescription");
    const oob_coursename = $("#msdynce_coursename");
    const oob_format = $("#msdynce_coursetype_Container");
    const oob_grade = $("#msdynce_coursegradelevel_Container");
    const oob_category = $("#msdynce_coursecategory");
    const oob_capacity = $("#msdynce_registerationmaxcapacity");

    //Insert needed fields
    oob_instructor.parent().parent().after('<span class="icon-image" id="instructoricon"><img src="/instructor-icon.svg" alt="instructor name icon"></span>' +
        '<select class="form-control" id="instructorname" aria-label="{{snippets[\'Course/Instructor\']}}"' +
        'aria-label="Instructor">' +
        '<option value=""></option>' +
        '</select>');
    oob_deadline.parent().after('<span class="icon-image" id="deadlineicon"><img src="/deadline-icon.svg" alt="deadline icon"></span>' +
        '<input id="deadline" class="form-control" type="date" placeholder="{{snippets[\'Course/RegistrationDeadline\']}}"' +
        'aria-label="{{snippets[\'Course/RegistrationDeadline\']}}">');
    oob_startdatetime.parent().after('<span class="icon-image"><img src="/date-icon.svg" alt="date icon"></span>' +
        '<input id="startdate" class="form-control" type="date" aria-label="{{snippets[\'Course/StartDate\']}}"' +
        'aria-required="true">');
    oob_enddatetime.parent().after('<span class="icon-image to-separator">to</span>' +
        '<input id="enddate" class="form-control" type="date" aria-label="{{snippets[\'Course/EndDate\']}}"' +
        'aria-required="true">');
    oob_frequency.parent().after('<label class="checkbox-container">' +
        '<input type="checkbox" id="frequency" name="One-time event" aria-label="{{snippets[\'Course/OneTimeEvent\']}}">' +
        '<span class="checkmark"></span>' +
        '<label for="frequency">{{snippets[\'Course/OneTimeEvent\']}}</label>' +
        '</label>');
    oob_days.parent().parent().after('<span class="icon-image" id="dayicon"><img src="/date-icon.svg" alt="date icon"></span><div class="day-container"></div>');


    //Insert one more row after date fields for time fields
    oob_startdatetime.parent().parent().parent().parent().after('<tr>' +
        '<td colspan="1" rowspan="1" class="clearfix cell datetime form-control-cell">' +
        '<span class="icon-image" id="starttimeicon"><img src="/time-icon.svg" alt="time icon"></span>' +
        '<input type="time" id="starttime" class="form-control" name="starttime" aria-label="{{snippets[\'Course/StartTime\']}}"' +
        'aria-required="true" required />' +
        '</td>' +
        '<td colspan="1" rowspan="1" class="clearfix cell datetime form-control-cell">' +
        '<span class="icon-image to-separator" id="endtimeto">{{snippets[\'To\']}}</span>' +
        '<input type="time" id="endtime" class="form-control" name="endtime" aria-label="{{snippets[\'Course/EndTime\']}}"' +
        'aria-required="true" required />' +
        '</td>' +
        '</tr>');


    //Insert character count for the description
    oob_description.after('<div id="characterCount">0 / 1000</div>');
    oob_description.attr('maxlength', 1000);

    //Insert field icons
    oob_coursename.before('<span class="icon-image"><img src="/name-icon.svg" alt="class name icon"></span>');
    oob_format.parent().before('<span class="icon-image"><img src="/format-icon.svg" alt="format icon"></span>');
    oob_grade.parent().before('<span class="icon-image"><img src="/grade-icon.svg" alt="grade icon"></span>');
    oob_description.before('<span class="icon-image textarea-icon"><img src="/description-icon.svg" alt="description icon"></span>');
    oob_category.before('<span class="icon-image"><img src="/category-icon.svg" alt="category icon"></span>');
    oob_capacity.before('<span class="icon-image"><img src="/capacity-icon.svg" alt="max capacity icon"></span>');

    //Hide fields
    oob_frequency.parent().hide();
    oob_instructor.parent().parent().hide();
    oob_deadline.parent().hide();
    oob_startdatetime.parent().hide();
    oob_enddatetime.parent().hide();
    oob_days.parent().parent().hide();
    oob_createBtn.remove();

    //Populate instructor dropdown
    const instructorDropdown = $("#instructorname");
    instructorsArr.forEach(function (element, index, array) {
        instructorDropdown.append('<option value="' + element.id + '">' + element.name + '</option>');
    });

    {% if request.path contains 'create' %}
    //On the create page, set the instructor to the current user
    instructorDropdown.val("{{ user.contactid }}");
    {% endif %}

    //Populate days field
    const daysContainer = $(".day-container");
    $("#msdynce_coursedays_Container .msos-option .msos-checkbox").each(function (index) {
        if (index > 0) {
            daysContainer.append('<span class="day-of-week">' +
                '<input type="checkbox" id="' + this.parentElement.title + '" name="' + this.parentElement.title + '"' +
                'value="' + this.value + '" aria-label="' + this.parentElement.title + '">' +
                '<label for="' + this.parentElement.title + '">' + this.parentElement.title + '</label>' +
                '</span>');
        }
    });

    //Add needed container for styling
    $('#instructorname, #instructoricon').wrapAll('<div class="flex-control">');
    $('#deadline, #deadlineicon').wrapAll('<div class="flex-control">');
    $('#endtime, #endtimeto').wrapAll('<div class="flex-control">');
    $('#starttime, #starttimeicon').wrapAll('<div class="flex-control">');
    $('.day-container, #dayicon').wrapAll('<div class="flex-control">');
    $('#msdynce_coursedescription, .textarea-icon').wrapAll('<div class="flex-control">');

    addPlaceholders();

    //Disable days of week control if frequency is set to one-time
    if (document.getElementById("frequency").checked) {
        isRecurrent = false;
        //Disable end date
        document.getElementById("enddate").disabled = true;
    } else isRecurrent = true;

    //Update character count for description
    const characterCount = $("#characterCount");
    oob_description.on("input", function () {
        const maxLength = this.getAttribute("maxlength");
        const currentLength = this.value.length;
        characterCount.text(currentLength + " / " + maxLength);
    });

    //Select days of week logic
    $(".day-of-week label").on("click", function () {
        if (isRecurrent)
            $(this).toggleClass("selected");
        else {
            $(".day-of-week label").each(function () {
                //Remove selected appearence from all other days
                $(this).removeClass("selected");
            });
            //Select selected day
            $(this).addClass("selected");
        }
    });

    $(".day-of-week input[type='checkbox']").on("change", function () {
        if (this.checked) {
            if (!isRecurrent) {
                $(".day-of-week input[type='checkbox']").each(function () {
                    this.checked = false;
                    $(this.nextElementSibling).removeClass("selected");
                });
                selectedDays = [];
                this.checked = true;
            }
            $(this.nextElementSibling).addClass("selected");
            selectedDays.push(this.value);
        } else {
            $(this.nextElementSibling).removeClass("selected");
            const pos = selectedDays.indexOf(this.value);
            selectedDays.splice(pos, 1);
        }

    });

    //Change the control depending on the frequency selected
    let startDateInput = document.getElementById("startdate");
    let endDateInput = document.getElementById("enddate");
    $("#frequency").on("change", function () {
        let daysCheckboxes = document.getElementsByClassName("day-of-week");
        if (this.checked) {
            isRecurrent = false;
            //Set end date the same as start date
            endDateInput.value = document.getElementById("startdate").value;
            endDateInput.disabled = true;
            //Clear days selected
            for (let i = 0; i < daysCheckboxes.length; i++) {
                daysCheckboxes[i].children[0].checked = false;
                //Empty the selected days array in case any days had been selected
                selectedDays = [];
                $(daysCheckboxes[i].children[1]).removeClass("selected");
            }
        } else {
            isRecurrent = true;
            //Enable end date
            endDateInput.disabled = false;
        }
    });

    //Change end date as start date if frequency = one-time
    $("#startdate").on("change", function () {
        if (!isRecurrent) {
            endDateInput.value = startDateInput.value;
        }
    });

    //Prever discard changes button from redirecting
    $('#cancelButton').on("click", function (e) {
        e.preventDefault();
    });

    $('#cancelButton1').on("click", function (e) {
        e.preventDefault();
    });
});

function addPlaceholders() {
    $(".crmEntityFormView .cell .field-label").hide();
    $("#msdynce_coursename").attr("placeholder", "{{snippets['Course/CourseName'] }}");
    $("#instructorname").attr("placeholder", "{{snippets['Course/InstructorName'] }}");
    $("#msdynce_coursedescription").attr("placeholder", "{{snippets['Course/EnterDescription'] }}");
    $("#msdynce_registerationmaxcapacity").attr("placeholder", "{{snippets['Course/MaxCapacity'] }}");
    $("#msdynce_coursecategory").attr("placeholder", "{{snippets['Filter/Category'] }}");
    $("#msdynce_coursetype_Container #value_ledit").attr("placeholder", "{{snippets['Format'] }}");
    $("#msdynce_coursedays_Container #value_ledit").attr("placeholder", "{{snippets['Days'] }}");
    $("#msdynce_coursegradelevel_Container #value_ledit").attr("placeholder", "{{snippets['Filter/Level'] }}");
}

//Function to pass arrays into a string
function arrayToString(arrayVar) {
    let stringVar = "";
    arrayVar.forEach(function (element, i, array) {
        let auxString = arrayVar[i].toString();
        if (i == 0)
            stringVar = auxString;
        else
            stringVar = stringVar + ", " + auxString;
    });
    //If nothing was selected, set the variable to null or the API will throw an error
    if (stringVar == "")
        stringVar = null;

    return stringVar;
}

//Function to create date time value with moment.js
function createDatetTimeValue(date, time) {
    let final = null;
    if (date && time)
        final = moment(date.toString() + " " + time.toString());

    return final;
}

function fieldValidations() {
    //get all fields    
    var errorMessages = [];
    const deadline = $("#deadline");
    const formatElement = $("#msdynce_coursetype");
    const oob_description = $("#msdynce_coursedescription");
    const oob_coursename = $("#msdynce_coursename");
    const oob_category = $("#msdynce_coursecategory");
    const oob_capacity = $("#msdynce_registerationmaxcapacity");
    const oob_format = $("#msdynce_coursetype");
    const gradeElement = $("#msdynce_coursegradelevel");
    let startdate = document.getElementById("startdate").value;
    let enddate = document.getElementById("enddate").value;
    let starttime = moment(document.getElementById("starttime").value, 'HH:mm');
    let endtime = moment(document.getElementById("endtime").value, 'HH:mm');

    //Remove any alerts
    $(".alert-danger").remove();

     //Check Start date in the future
    if (moment(startdate).isBefore(new Date().toDateString()))
        errorMessages.push("{{ settings['ASP/Course/Form/Validation/Field/StartDateInFuture'] }}")

    //Check End date isn't before Start date
    if (moment(enddate).isBefore(startdate))
        errorMessages.push("{{ settings['ASP/Course/Form/Validation/Field/EndDateBeforeStartDate'] }}")

    //Check End time isn't before Start time
    if (moment(endtime).isBefore(starttime))
        errorMessages.push("{{ settings['ASP/Course/Form/Validation/Field/EndTimeBeforeStartTime'] }}")

    //Check if capacity is set to more than 1
    if (oob_capacity.val() <= 1)
        errorMessages.push("{{ settings['ASP/Course/Form/Validation/Field/MaxCapacityLow'] }}")

    //Check if capacity is set to more than 1
    if (oob_capacity.val() % 1 != 0)
        errorMessages.push("{{ settings['ASP/Course/Form/Validation/Field/MaxCapacityNumber'] }}")

    //Check if description passed the character limit
    if (oob_description.val().length > 1000)
        errorMessages.push("{{ settings['ASP/Course/Form/Validation/Field/DescriptionToLong'] }}")

    //Put the values of the selected types in a string
    let typeValues = Array.parse(formatElement.val())?.map(obj => {
        return obj.Value
    }).toString();

    //Put the values of the selected days of the week in a string
    let daysString = arrayToString(selectedDays);

    //Put the values of the grades in a string
    let gradeValues = Array.parse(gradeElement.val())?.map(obj => {
        return obj.Value
    }).toString();

    //Check if required fields are filled
    if (!oob_coursename.val() || !oob_category.val() || !oob_capacity.val() ||
        !startdate || !starttime || !oob_format.val() || oob_format.val() == "[]" ||
        !enddate || !endtime || !deadline.val() || !typeValues || !daysString || !gradeValues) {

        let requiredMsg = "{{ settings['ASP/Course/Form/Validation/Field/Required'] }}" + " ";
        let missingFields = [];

        if (!oob_coursename.val())
            missingFields.push("{{ settings['ASP/Course/Form/Validation/Field/ClassName'] }}");

        if (!startdate)
            missingFields.push("{{ settings['ASP/Course/Form/Validation/Field/StartDate'] }}");

        if (!enddate)
            missingFields.push("{{ settings['ASP/Course/Form/Validation/Field/EndDate'] }}");

        if (!starttime || !starttime.isValid())
            missingFields.push("{{ settings['ASP/Course/Form/Validation/Field/StartTime'] }}");

        if (!endtime || !endtime.isValid())
            missingFields.push("{{ settings['ASP/Course/Form/Validation/Field/EndTime'] }}");

        if (!oob_category.val())
            missingFields.push("{{ settings['ASP/Course/Form/Validation/Field/Category'] }}");

        if (!oob_capacity.val())
            missingFields.push("{{ settings['ASP/Course/Form/Validation/Field/MaxCapacity'] }}");

        if (!deadline.val())
            missingFields.push("{{ settings['ASP/Course/Form/Validation/Field/Deadline'] }}");

        if (!typeValues)
            missingFields.push("{{ settings['ASP/Course/Form/Validation/Field/Format'] }}");

        if (!daysString)
            missingFields.push("{{ settings['ASP/Course/Form/Validation/Field/Days'] }}");

        if (!gradeValues)
            missingFields.push("{{ settings['ASP/Course/Form/Validation/Field/Level'] }}");

        missingFields.forEach(function (element, i, array) {
            if (i == (array.length - 1))
                requiredMsg = requiredMsg + element;
            else
                requiredMsg = requiredMsg + element + ", ";
        });

        errorMessages.push(requiredMsg);
    }

    if (errorMessages.length > 0) {
        const errorTag = `{{snippets["ASP/Error/CourseForm/Validation"] }}`;
        $(".entity-form").before(errorTag)
        errorMessages.forEach(function (element, i, array) {
            $(".alert-danger").append("• " + element + "<br>");
        });
    }

    return errorMessages;
}

</script>