{% block main %}

{% if request.params['page'] | xml_escape %}
{% assign page = request.params['page'] | xml_escape | integer | default: 1 %}
{% else %}
{% assign page = 1 %}
{% endif %}

{% assign previousPage = page | minus: 1 %}
{% assign nextPage = page | plus: 1 %}

{% if request.params['category'] | xml_escape %}
{% assign categoryFilter = request.params['category'] | xml_escape | integer | default: -1 %}
{% else %}
{% assign categoryFilter = -1 %}
{% endif %}

{% assign seasonFilter = request.params['season'] | xml_escape | default: currentSeason %}

{% assign cardsPerRowValue = settings['ASP/Pagination/CardsPerRow'] | default: 3 %}
{% assign cardsPerRow = cardsPerRowValue | times: 1.0 %}
{% assign cardsPerPageValue = settings['ASP/Pagination/CardsPerPage'] | default: 20 %}
{% assign cardsPerPage = cardsPerPageValue | times: 1.0 %}
{% assign cardCounter = 1 %}

{% fetchxml courses %}
<fetch count="{{ cardsPerPage }}" returntotalrecordcount="true" page="{{ page }}">
  <entity name="msdynce_course" >
    <attribute name="msdynce_registeredparticipants" />
    <attribute name="msdynce_coursename" />
    <attribute name="msdynce_registerationmaxcapacity" />
    <attribute name="msdynce_instructor" />
    <attribute name="msdynce_coursecategory" />
    <attribute name="msdynce_courseenddateandtime" />
    <attribute name="msdynce_registerationdeadline" />
    <attribute name="msdynce_coursestartdateandtime" />
    <attribute name="msdynce_coursedescription" />
    <attribute name="msdynce_entityimage" />
    <attribute name="msdynce_course_id" />
    <attribute name="msdynce_coursegradelevel"/>
    <attribute name="msdynce_coursedays"/>    
    <attribute name="msdynce_coursetype"/>    
    <filter>
      <condition attribute="statuscode" operator="eq" value="1" />
      {% if categoryFilter != -1 %}
      {% unless request.params['search'] | xml_escape %}
      <condition attribute="msdynce_coursecategory" operator="eq" value="{{categoryFilter}}" />
      {% endunless %}
      {% endif %}
    </filter>
    {% if request.params['search'] | xml_escape %}
    {% assign searchTxt = request.params['search'] | xml_escape %}
    <filter type="or" >
      <condition attribute="msdynce_coursename" operator="like" value="%{{searchTxt}}%" />
      <condition attribute="msdynce_instructor" operator="like" value="%{{searchTxt}}%" />
      <condition attribute="msdynce_coursedescription" operator="like" value="%{{searchTxt}}%" />
    </filter>
    {% endif %}
    {% unless request.params['search'] | xml_escape %}
    {% if request.params['level'] | xml_escape %}
    <filter>
      {% for v in gradeFilters %}
      <condition attribute="msdynce_coursegradelevel" operator="contain-values" >
        <value>{{v}}</value>
      </condition>
      {% endfor %}
    </filter>
    {% endif %}
    {% if request.params['type'] | xml_escape %}
    <filter>
      {% for v in typeFilters %}
      <condition attribute="msdynce_coursetype" operator="contain-values" >
        <value>{{v}}</value>
      </condition>
      {% endfor %}
    </filter>
    {% endif %}
    {% endunless %}
    <order attribute="msdynce_registerationdeadline" />
  </entity>
</fetch>
{% endfetchxml %}

{% if courses.results and courses.results.entities and courses.results.entities.size > 0 %}
  {% assign coursesResults = courses.results.entities %}
  {% assign filteredIndices = "" %}
  {% assign index = 0 %}
  {% unless request.params['search'] | xml_escape %}
  {% for course in coursesResults %}
    {% assign enddatemonth = course.msdynce_courseenddateandtime | date: "MM" | integer%}
    {% assign strIndex = index | string %}
    {% if request.params['season'] %}
      {% case seasonFilter  %}
        {% when fall %}
          {% if enddatemonth >= 9 and enddatemonth <= 11 %}
            {% if filteredIndices.size > 0 %}
              {% assign filteredIndices = filteredIndices | append: "," %}
            {% endif %}
            {% assign filteredIndices = filteredIndices | append: strIndex %}
          {% endif %}
        {% when winter %}
          {% if enddatemonth == 12 or enddatemonth <= 2 %}
            {% if filteredIndices.size > 0 %}
              {% assign filteredIndices = filteredIndices | append: "," %}
            {% endif %}
            {% assign filteredIndices = filteredIndices | append: strIndex  %}
          {% endif %}
        {% when spring %}
          {% if enddatemonth >= 3 and enddatemonth <= 5 %}
            {% if filteredIndices.size > 0 %}
              {% assign filteredIndices = filteredIndices | append: "," %}
            {% endif %}  
            {% assign filteredIndices = filteredIndices | append: strIndex  %}
          {% endif %}
        {% when summer %}
          {% if enddatemonth >= 6 and enddatemonth <= 8 %}
            {% if filteredIndices.size > 0 %}
              {% assign filteredIndices = filteredIndices | append: "," %}
            {% endif %}
            {% assign filteredIndices = filteredIndices | append: strIndex %}
          {% endif %}
      {% endcase %}
    {% else %}
      {% if filteredIndices.size > 0 %}
        {% assign filteredIndices = filteredIndices | append: "," %}
      {% endif %}
      {% assign filteredIndices = filteredIndices | append: strIndex %}
    {% endif %}
    {% assign index = index | plus: 1 %}
  {% endfor %}
  {% endunless %}
  {% if filteredIndices.size > 0 %}
    {% assign filteredIndices = filteredIndices | split: "," %}
    {% assign totalCount = filteredIndices.size %}
    {% assign pages = totalCount | decimal | divided_by: cardsPerPage | ceil %}

    {% for i in filteredIndices %}
      {% assign index = i | integer %}
  
      {% assign course = coursesResults[index] %}
  
      <!-- Course Days -->
      {% assign dayvalues = '' %}

      {% if request.IsPreview != true %}
        {% if course.msdynce_coursedays %}
          {% for day in course.msdynce_coursedays %}
              {% assign dayvalues = dayvalues | append:'<p>'| append:day.label| append:'</p>' %}
          {% endfor %}
        {% endif %}  
      {% endif %}
      <!-- END - Course Days -->

      <!-- Course Types -->
      {% assign typeValues = '' %}

      {% if request.IsPreview != true %}
          {% if course.msdynce_coursetype %}
          {% for type in course.msdynce_coursetype %}
              {% if forloop.index == 2 %}
              {% assign typeValues = typeValues | append:'<span class="separator"> | </span>' %} 
              {% endif %}
              {% if type.value == 441790000 %}
              {% assign typeValues = typeValues | append: '<img src="/format-icon.svg" alt="in-person icon">' | append:'<span>'| append:type.label| append:'</span>' %}  
              {% else %}
              {% assign typeValues = typeValues | append: '<img src="/virtual.svg" alt="Virtual course icon">' | append:'<span>'| append:type.label| append:'</span>' %}  
              {% endif %}
          {% endfor %}
          {% endif %}  
      {% endif %}
      <!-- END - Course Types -->

      {% if course.msdynce_registeredparticipants %}
      {% assign registered = course.msdynce_registeredparticipants %}
      {% else %}
      {% assign registered = 0 %}
      {% endif %}

      {% if cardCounter == 1 %}
      <div class="sr-only" role="alert">{{courses.results.entities.size}} {{ snippets["CoursesFound"] }}</div>
      <div aria-label="{{courses.results.entities.size}} {{ snippets["CoursesFound"] }}" class="row card-row">
      {% endif %}

      <div class='col-sm-6 col-lg-4 card-column'>
      {% editable snippets 'Card/Course' type: 'html' %}
      </div>
      {% if cardCounter == cardsPerRow or forloop.last %}
      </div>
      {% endif %}

      {% if cardCounter < cardsPerRow %}
      {% assign cardCounter = cardCounter | plus: 1 %}
      {% else %}
      {% assign cardCounter = 1 %}
      {% endif %}

    {% endfor %}

    {% include 'Custom Pagination' %}
  {% else %}
    <div class="row card-row">
      <div class="col-md-12 col-sm-12 col-lg-12">
      <p>{{ snippets["NoCoursesFound"] }}</p>
      </div>
    </div>
  {% endif %}    
{% else %}
<div class="row card-row">
  <div class="col-md-12 col-sm-12 col-lg-12">
  <p>{{ snippets["NoCoursesFound"] }}</p>
  </div>
</div>
{% endif %}

{% editable snippets 'Modal/Sign In' type: 'html' %}

{% endblock %}
