{% include 'Portal Web API Wrapper' %}
<div class='row sectionBlockLayout' style='display: flex; flex-wrap: wrap; padding: 8px; margin: 0px; text-align: left; min-height: 100px;'>
  <div class='container'>
    <div id='header' class='col-md-12' style='flex-grow: 1; display: flex; flex-direction: column; min-width: 300px; align-items: center;'>
      <h2>My registrations</h2>
      <br>
      <p>Registrations for all 2021-2022 school events</p>
    </div>
  </div>
</div>
<div class='row sectionBlockLayout' style='display: flex; flex-wrap: wrap; padding: 8px; margin: 0px;'>
  <div class='container' style='display: flex; flex-wrap: wrap;'>
    <div class='col-md-10'>{% include 'Registration Filters' %}</div>
  </div>
</div>
<div class='row sectionBlockLayout' style='display: flex; flex-wrap: wrap; padding: 8px; margin: 0px;'>
  <div class='container' style='padding: 0px; display: flex; flex-wrap: wrap;'>
    <div class='col-md-2 columnBlockLayout'>
      <h2 style='text-align: center;'>{{ snippets['My Attendees'] }}</h2>
      <div class='child-filter'>
        <ul class='attendee-ol'>
          <li>
            <span class='child-my-registration-card'>
              <label class='checkbox-container-vertical'>
                <input type='checkbox' name='self' value='{{user.contactid}}' class='checkAttendee' id='self{{user.contactid}}'>
                <span class='checkmark-registration'></span>
                <label for='self{{user.contactid}}'></label>
                <img data-contact='' src='/child-placeholder.svg' alt='user profile photo'>
                <p class='card-text-xsmall text-center'>Me/Myself</p>
              </label>
            </span>
          </li>
          {% include 'Attendee Filter' %}
        </ul>
      </div>
    </div>
    <div class='col-md-10 columnBlockLayout'>
      <div class='row registration-card-row'>{% include 'Registration Catalog' %}</div>
    </div>
  </div>
</div>

<!-- Unregister modal -->
<dialog id='unregisterDialog' class='modal-content nativeModal'>
  <div class='modal-header'>
    <h2 class='modal-title'>Cancel registration?</h2>
  </div>
  <form method='dialog'>
    <iframe width='100%' height='auto' id='unregister-wrapper-iframe' frameborder='0' allowfullscreen=''></iframe>
    <button class='modalCloser' value='cancel'>Close Dialog</button>
  </form>
</dialog>
<!--
  <p>
    <button aria-label="Add Attendee Button" id="updateDetails">Add Attendee</button>
  </p>
-->
<output></output>
<!-- @end Unregister modal -->
